<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="6b6445d1-bce3-4294-849e-8e087449dfd4" Version="1.0.0.0" Publisher="CN=tusha" />
  <mp:PhoneIdentity PhoneProductId="6b6445d1-bce3-4294-849e-8e087449dfd4" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ToughX</DisplayName>
    <PublisherDisplayName>Amit Singh</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="https://toughx.000webhostapp.com/homepage.php">
      <uap:VisualElements DisplayName="ToughX" Description="ToughX-Update Regiseter and File FIR" BackgroundColor="transparent" Square150x150Logo="images\Square150x150Logo.png" Square44x44Logo="images\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="images\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\splashscreen.png" />
      </uap:VisualElements>
      <uap:ApplicationContentUriRules>
        <uap:Rule Match="https://toughx.000webhostapp.com/homepage.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/UserLogin.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/ShowJudges.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/progress_page.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/Profile.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/Police.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/PanelLogin.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/PanelAllot.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/LoginForm1.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/JudgeAllot.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/FirWatch.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/FIRView.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/Fir.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/EditMe.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/AdminLogin.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/MSG.php" Type="include" WindowsRuntimeAccess="none" />
        <uap:Rule Match="https://toughx.000webhostapp.com/SeeRecords.php" Type="include" WindowsRuntimeAccess="none" />
      </uap:ApplicationContentUriRules>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>